name: Docker CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Run Unit Tests
        run: mvn test
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      
      - name: Build and Push Image
        uses: docker/build-push-action@v5
        with:
          context: .               
          file: ./Dockerfile 
          push: true               
          
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/docker-test:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/docker-test:${{ github.sha }}