name: Java CI with Docker

on:
  push:
    branches: [ "main" ] # Runs whenever you push to main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./producer/Dockerfile # Path to your Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/docker-test:latest